body {
    font-family: "Lato", sans-serif;
  }

  .footer {
    margin-left: 450px;
    left: 0;
    bottom: 0;
    width: 800px;
    height: 80px;
    background-color: rgb(27, 3, 82);
    color: white;
    text-align: center;
 }
 .footernew{
  left: 0;
  bottom: 0;
  margin-top:1100px;
  width: 100%;
  height: 80px;
  background-color: rgb(27, 3, 82);
  color: white;
  text-align: center;
}

  .bottom{
    top: 900px;
    margin-left: 500px;
  }

  .helpline{
    position: absolute;
    padding-top: 30px;
    top:700px;
    margin-left: 400px;
  }
  
  .sidenav {
    width: 450px;
    position: fixed;
    z-index: 1;
    left: 10px;
    background: black;
    overflow-x: hidden;
    padding: 8px 0;
    height: 100%;
  }

  .main {
    position: relative;
    margin-left: 450px; /* Same width as the sidebar + left position in px  */
    padding: 0px 10px;
    background-color: rgb(195, 202, 95);
  } 

  .sidenavnew
  {
    width: 100%;
    position: absolute;
    z-index: 1;
    background: black;
    overflow-x: hidden;
    height: 500px;
  }

  .left{
    width: 50%;
    left: 10px;
  }

  .right{
    width: 50%;
    right: 10px;
  }
  .sidenav h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    display: block;
    font-weight: bold; 
    text-align: center; 
    border-bottom: 0;
  }

  .sidenavnew h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    display: block;
    font-weight: bold; 
    text-align: center; 
    border-bottom: 0;
  }

  .sidenav h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: yellowgreen;
    display: block;
    font-weight: bold; 
    text-align: center; 
    border-bottom: 0;
  }

  .sidenavnew h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: yellowgreen;
    display: block;
    font-weight: bold; 
    text-align: center; 
    border-bottom: 0;
  }
  
  .sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
  }


  #example_filter input {
    border-radius: 5px;
  }
  


  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: rgb(197, 28, 28)!important;
    border-radius: 2px;
    border: 1px  #828282;
  }
   
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    color: black!important;
  } 


  .dataTables_paginate>span>a {
    margin-bottom: 0px !important;
    padding: 1px 5px !important;
}

.dataTables_paginate>a {
    margin-bottom: 0px !important;
    padding: 1px 5px !important;
}
  
 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  

  th{
    background-color: burlywood;
    color: white;
    text-align: left;
    padding: 16px;
    border: 1px solid black;
  }

  td{
    text-align: left;
    padding: 16px;
  }

  tr:hover {
    cursor: pointer;
  
} 


tr:nth-child(even) {
    background-color: rgb(233, 248, 205) !important ;
    color : rgb(12, 12, 12) !important ;
  }

  tr:nth-child(odd)  {
    background-color: #fefffe !important ;
    color: black !important ;
  } 


  














